<div id="wrapper">
	<div class="pure-g-r push-top-10">

		<div class="pure-u-1">

			<div class="inner-box">

				<h2>Login</h2>

				<h4>Use a Site</h4>

		    	<a href="#" class="pure-button"><i class="fa fa-facebook-square"></i>  Facebook</a> 
		    	<a href="#" class="pure-button"><i class="fa fa-google-plus-square"></i> Google Plus</a>
		    	<a href="#" class="pure-button"><i class="fa fa-twitter-square"></i> Twitter</a>
		    	<a href="#" class="pure-button"><i class="fa fa-linkedin-square"></i> LinkedIn</a>


		    	<h4>Or login using this old school form...</h4>
		    	
			    <form id="login-form" class="pure-form pure-form-aligned">

				    <fieldset>


				        <div class="pure-control-group">
				            <label for="email">Email Address</label>
				            <input type="email"  password="Email" id="email" placeholder="Email Address">
				        </div>

				        <div class="pure-control-group">
				            <label for="password">Password</label>
				            <input type="password" name="Password" id="password" placeholder="Password">
				        </div>

				        <button type="submit" class="pure-button pure-button-primary">Login</button>

				        

					</fieldset>

				</form>

		    </div>

		</div>

	</div>
</div>
